<div class="fixed left-0 top-0 bottom-0 w-72 bg-white border-r shadow-xl z-50">

    <div class="p-6 border-b">
        <img src="img/logo-ug.png"
             alt="Universidad de Guayaquil"
             class="h-14 mx-auto">
    </div>

    <div class="p-6">

        <div class="flex items-center gap-3 mb-10">

            <div class="w-12 h-12 bg-[#1FB9DE] rounded-2xl flex items-center justify-center text-white text-2xl font-medium">
                RA
            </div>

            <div>
                <p class="font-semibold">Ronald Andagoya</p>
                <p class="text-xs text-gray-500">
                    Estudiante • Ingeniería
                </p>
            </div>

        </div>

<nav class="space-y-1">

    <a href="index.html"
       data-page="index"
       class="nav-link flex items-center gap-3 px-4 py-3 rounded-2xl">

        <i class="fa-solid fa-house w-5"></i>
        <span class="font-medium">Inicio</span>

    </a>

    <a href="eventos.html"
       data-page="eventos"
       class="nav-link flex items-center gap-3 px-4 py-3 rounded-2xl">

        <i class="fa-solid fa-calendar w-5"></i>
        <span class="font-medium">Eventos</span>

    </a>

    <a href="inscripciones.html"
       data-page="inscripciones"
       class="nav-link flex items-center gap-3 px-4 py-3 rounded-2xl">

        <i class="fa-solid fa-users w-5"></i>
        <span class="font-medium">Inscripciones</span>

    </a>

    <a href="asistencia.html"
       data-page="asistencia"
       class="nav-link flex items-center gap-3 px-4 py-3 rounded-2xl">

        <i class="fa-solid fa-chart-bar w-5"></i>
        <span class="font-medium">Asistencia</span>

    </a>



    <!-- Noticias -->
    <a href="noticias.html"
       data-page="noticias"
       class="nav-link flex items-center gap-3 px-4 py-3 rounded-2xl">

        <i class="fa-solid fa-newspaper w-5"></i>
        <span class="font-medium">Noticias</span>

    </a>

</nav>

    </div>

</div>